#fidget{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    transition: 20s;
    width: 200px;
    height: 200px;
}
#fidgetbox{
    align-content: center;
}